.ingkey-container {
    width: 100%;
    padding-left: 20px;
}

.padding-top-0 {
    padding-top: 0px;
}

.text-align-left {
    text-align:left;
}

.finish {
    display: inline-block;
    width: 347px;
    height: 497px;
    background: url("../images/finish.png") no-repeat center top;
    background-size: contain;
}

.big-font {
    font-size: 150%;
}
